/.git
/Dockerfile
/Dockerfile*
/.dockerignore
/docker-compose*
/.env*
/bin/docker*

/README*
/cider-ci*
/.cpcache
/.shadow-cljs
/.lsp
/.clj-kondo
/.vscode


/leihs-ui
/database
!/database/Gemfile*
/node_modules
/spec
/target
/tmp
/scripts/tmux