.DS_Store
Dockerfile
Dockerfile*
.dockerignore
docker-compose*
.env*

/.git
/README*
/cider-ci
/cider-ci*
/.cider-ci
/.cider-ci*
/_cider-ci_keep
/.cpcache
/.shadow-cljs
/.lsp
/.clj-kondo
/.vscode
/bin/docker*
/bin/build

/resources/built-info.yml
/leihs-ui
/shared-clj/.git
/shared-clj/.gitignore
/shared-clj/.mux.yml
/shared-clj/bin
/shared-clj/scripts
/shared-clj/test
/database
!/database/Gemfile*
/node_modules
/spec
/target
/tmp
/scripts/tmux