!/.env.local-example
.calva
.cider-ci_private/
.clj-kondo
.clj-kondo/rewrite-clj/
.cpcache
.lsp
.nrepl-history
.nrepl-port
.rebel_readline_history
.shadow-cljs
/.env*
dist
log
node_modules
resources/built-info.yml
resources/public/borrow/js
scratch*
storybook-static/
target
tmp/
