.calva
.clj-kondo/.cache
.cpcache
.lsp
.nrepl-history
.nrepl-port
.rebel_readline_history
.shadow-cljs
/.env*
/leihs-ui.tgz
log
node_modules
resources/built-info.yml
resources/public/app/borrow/js
resources/sql/translations.sql
scratch*
target
tmp/
