.calva
.cpcache
.nrepl-history
.nrepl-port
.rebel_readline_history
.shadow-cljs
/leihs-ui.tgz
bin/translations.sql
log
node_modules
resources/all/public/app/borrow/js
scratch*
target
tmp/

# local env files
/.env*