{:source-paths ["src/all" "src/dev"]
 :dependencies [[reagent "0.8.1"]
                [reagent-utils "0.3.3"]
                [re-frame "0.10.8"]
                [re-graph "0.1.10"]]
 :builds {:app {:output-dir "resources/all/public/borrow/js"
                       :asset-path "js"
                       :target :browser
                       :modules {:app {:entries [
                                                 ; your-namespace-of-choice 
                                                 ]}}
                       ;:devtools {:after-load your-name-space-of-choice/func}
                       }}}
