{:source-paths ["src/all" "src/dev"]
 :dependencies [[reagent "0.8.1"]]
 :builds {:playground {:output-dir "resources/all/public/borrow/js/playground"
                       :asset-path "/js/playground"
                       :target :browser
                       :modules {:reagent-example {:init-fn playground.reagent-example/run}}}}}
