{:scalars {:UUID {:parse :uuid-parse :serialize :uuid-serialize}}

 :objects {:contract {:fields {:id {:type (non-null :UUID)}
                               :compactId {:type (non-null :UUID)}
                               :state {:type (non-null String)}
                               :inventoryPool {:type (non-null :inventoryPool)
                                                :resolve :inventory-pool}
                               :purpose {:type (non-null String)}
                               :note {:type String}}},
           :inventoryPool {:fields {:id {:type (non-null :UUID)}
                                    :name {:type (non-null String)}
                                    :email {:type (non-null String)}}}
           :user {:fields {:email {:type String},
                           :firstname {:type String},
                           :id {:type (non-null :UUID)},
                           :lastname {:type String},
                           :login {:type String}
                           :contracts {:type (list :contract)
                                       :resolve :contracts}}}
           :calendar {:fields {:list {:type (list :dayData)}}}
           :dayData {:fields {:d {:type (non-null String)}
                              :visitsCount {:type (non-null Int)}
                              :quantity {:type (non-null Int)}}}},

 :queries {:users {:args {:limit {:type Int},
                          :offset {:type Int},
                          :searchTerm {:type String}},
                   :resolve :users,
                   :type (list :user)}
           :calendar {:args {:modelId {:type (non-null String)}
                             :inventoryPoolId {:type (non-null String)}
                             :startDate {:type (non-null String)}
                             :endDate {:type (non-null String)}}
                      :resolve :calendar
                      :type :calendar}}}
