{:scalars {:UUID {:parse :uuid-parse :serialize :uuid-serialize}}
 :objects {:Contract {:fields {:id {:type (non-null :UUID)}
                               :compact_id {:type (non-null :UUID)}
                               :state {:type (non-null String)}
                               :inventory_pool {:type (non-null :InventoryPool)
                                                :resolve :inventory-pool}
                               :purpose {:type (non-null String)}
                               :note {:type String}}},
           :InventoryPool {:fields {:id {:type (non-null :UUID)}
                                    :name {:type (non-null String)}
                                    :email {:type (non-null String)}}}
           :User {:fields {:email {:type String},
                           :firstname {:type String},
                           :id {:type (non-null :UUID)},
                           :lastname {:type String},
                           :login {:type String}
                           :contracts {:type (list :Contract)
                                       :resolve :contracts}}}
           :Calendar {:fields {:list {:type (list :DayData)}}}
           :DayData {:fields {:d {:type (non-null String)}
                              :visits_count {:type (non-null Int)}
                              :quantity {:type (non-null Int)}}}},
 :queries {:users {:args {:limit {:type Int},
                          :offset {:type Int},
                          :search_term {:type String}},
                   :resolve :users,
                   :type (list :User)}
           :calendar {:args {:model_id {:type (non-null String)}
                             :inventory_pool_id {:type (non-null String)}
                             :start_date {:type (non-null String)}
                             :end_date {:type (non-null String)}}
                      :resolve :calendar
                      :type :Calendar}}}
